/*universal styles*/

html{
	/* font-size: 10px; */
}
body {
  width: 100%;
  height: 1000px;
  margin: 0;
  background: #CCC;
	overflow-x: hidden;
	font-size: 10px;
}

header {
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,0);
  position: fixed;
  top: -60px;
  opacity: 0;
	padding-left: 100px; */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); */
}

span {
  position: fixed;
  top: 100px;
}

.logo {
  height: 15rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
	/* margin-left: 2.4rem;
	margin-top: 1.2rem; */

}
.parallax img{
	margin: 0 auto;
}
.fixedlogo{

	width: 100%;
	height: 67.5%;
	position: fixed;
	

}
.fixedlogo img{
	margin: 0 auto;

}
.logo_2{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto!important;
	height: 24em;

}
.logo_small{
	position: fixed;
	height: 5rem;
	top: 2%;
	left: 2%;
	opacity: 0.6;
}
.logo_box{
	height: 16rem;
	padding-left:

}

.row{
	/* padding-top: 2.5rem; */
	width: 100%;
	/* margin-top: 2em; */ */ */
}
.grid{
	display: flex;
	width: 100%;
	height: 45%;
	overflow:hidden;
	margin: 1%;
	flex-direction: row;

}
.grid-item{
	width: 45%;
	margin: 2.5%;
	height: auto;
}
.grid-item img{
	width: 100%;
	height: auto;
}




body{
	font-size: 10px;
	font-family: "Windsor";
	background-color: #3290A3;
	position: relative;

}
h1{
	font-size: 7rem;
	font-family: "futura";
	color: #000000;
	font-weight: bold;
	text-align: center;
	padding-top: 10%;
	width: 50%;
}
h2{
	font-family: "Futura";
	font-weight: bold;

	font-size: 4rem;

}

.home_link{
	width: 5rem;
	height: 5rem;
	background-color: #FFFFFF;
	opacity: 0;
	text-align: center;
	padding: 1rem;
}
.home_link a{
	font-size: 2rem;
}
/* h3{
	display: flex;
	width: 60%;
	text-align: center;
	margin: 0 auto;
} */


/*nav */
.navbar, nav{
	z-index: 0;
}

nav ul{
	margin: 0 auto;
}
.navbar{
	background-color: rgba(0,0,0,0);
	height: 5rem;
	margin: 0 auto;
}
.nav-highlight{
	color: #3BA5BA;
}
nav{
	width: 60%;
	text-align: center;
	height: 6rem;
	background-color: rgba(0,0,0,0);
}
nav li{
	padding: 15px;
}
nav a{
	font-size: 2rem;
	color: rgba(250,250,250,0.7);
}
nav a:hover{
	transform: scale(1.1);
}
.nav-link.active{
	color: #0E4A5D!important;
	transform: scale(1.17);
	transition: 0.17s;
}
.nav-link.active:hover{
	color: #0E4A5D!important;
}
.nav-link:hover{
	/* color: #0E4A5D!important; */
	color: #3290A3!important;
	transform: scale(1.1);
	transition: 0.1s;
	/* border: .1rem solid rgba(250,250,250,0.7); */
}
.about:hover{
	color: #F5B62A!important;
	/* transform: scale(1.1);
	transition: 0.1s; */
}
.about.active{
	color: #F5B62A!important;
}
.art.active{
	color: #D54622!important;
}
.art:hover{
	color: #D54622!important;
	transform: scale(1.1);
	transition: 0.1s;
}
.contact.active{
	color: #72bb1e!important;
}
.contact:hover{
	color: #5FA211!important;
}
.contact h4{
	font-family: "crimson text";
	margin-bottom: 0!important;
}
/*hero*/



.parallax{
	background-image: url('https://geofferdean.github.io/cassady hero real.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	height: 80em; */
	/* padding-top: 36rem; */ */ */ */ */
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end; */
	align-content: center;
	align-items: center;
}
.true{
	position: fixed;
	width: 100%;
}
.first{
	/* background-color: rgba(72, 196, 220, .7); */
	background-color: #3290A3;
	width: 100%;
	/* padding: 2rem 0; */
	margin: 0 auto;
	height: auto;
	position: absolute;
}
.gdj{
	position: relative;
	width: 100%;
	height: 16rem;
	text-align: center;
	background-color:#3290A3; */
	/* background-color: rgba(50,144,163,0.7); */
	/* padding: 1rem; */

}
.gdj h1{
	color: rgba(250,250,250,0.7);
	font-size: 3.6rem;
	width: 100%;
	padding-top: 4%;
	margin: 0 auto;
}
.gdj h3{
	font-size: 2rem;
	color: rgba(250,250,250,0.7);
	margin: 0 auto;

}


/* .gdj h1{
	font-size: 3.6rem;
	color: rgba(250, 250, 250, 0.7);
	margin: 0 auto;
	padding-top: 2.4rem;
	width: 100%;
	padding-bottom: 0;

} */
/* .gdj h3{
	font-size: 2rem;
	color: rgba(250, 250, 250, 0.7);
	margin: 0 auto;
	/* padding-top: 2.4rem; */
	/* text-align: center;
	position: relative;
	top: -20%;
} */ */


/* design section */


#design{
	/* background-color: rgba(250, 250, 250, 0.5); */
	height: 0!important; */
	scroll-snap-align: start;
	scroll-behavior: smooth;
}
.parallax_design{

	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: bottom; */
	background-attachment: fixed;
	height: 85em; */ */
	padding-top:;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.banner_design{
	display: flex;
	width: 100%;
	background-color: rgba(149,221, 235, 0.5);
	height: 85em;

}

.second{
	/* background-color: #3290A3; */
	margin: 0 auto;
	width: 3.5%;/* width: 50%; */
	height: 2.75rem;
	/* background-color: rgba(149,221, 235, 0.5); */
	}
.spacer_design{
	width: 100%;
	background-color: rgba(149,221, 235, 0.5);
	height: 3.5rem;
	/* margin-bottom: 3.2rem;	 */
}
/* about section */
#about{
	height: 700px;
}
.parallax_about{
	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: bottom; */
	background-attachment: fixed;
	height: 85em;
	padding-top:;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.banner_about{
	width: 100%;
	background-color: rgba(245, 201, 42, 0.5);
	padding-bottom: 3rem;
	height: 794px;
}
.third{
	/* background-color:#F5B62A; */
	margin: 0 auto;
	width: 50%;
	height: 3rem;
}
.spacer_about{
	width: 100%;
	background-color: rgba(245, 201, 42, 0.5);
	height: 3.5rem;
}
/* art section */
#art{
	background-color: rgba(213, 70, 34, 0.35);
	 height: 800px; */
}
.parallax_art{
	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: bottom; */
	background-attachment: fixed;
	/height: 85em; */
	padding-top:;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
}
.banner_art{
	width: 100%;
	background-color: rgba(251, 178, 82, 0.5);
	padding-bottom: 3rem;
	/* height: 700px; */
}
.fourth{
	/* background-color: #D54622; */
	margin: 0 auto;
	width: 50%;
	height: 3rem;
}
.spacer_art{
	width: 100%;
	background-color: rgba(213, 70, 34, 0.35);
	height: 3.5rem;
}
/* contact */
#contact{
	background-color: rgba(65,117,5, 0.5);
	height: 45rem;
	/* padding-top:2.5rem; */

}
.banner_contact{
	display: flex;
	/* padding: 0 20em; */
}
.banner_contact h1{
color: rgba(250,250,250,0.8);
text-align: left;
width: 100%;
font-size: 2.4rem;
}
.banner_contact h2{
	color: rgba(250,250,250,0.8);
	text-align: left;
	width: 100%;
	font-size: 2.4rem;
	font-family: "windsor";
	font-weight: 400;

	/* margin-bottom: 2rem; */
}
.banner_contact h3{
	color: rgba(250,250,250,0.8);
	/* background-color: rgba(250,250,250,0.5); */
	text-align: left;
	font-size: 1.4rem;
	/* margin: 0 auto; */
	margin-bottom: 2rem;
	width: 100%;
	font-family: "crimson text";
}
.banner_contact h3:hover{
	color: rgba(250,250,250,0.8);
	text-decoration: none!important;
}
h4{
	color: rgba(250,250,250,0.8);
}
.col-sm-6{
	padding-left: 4rem;
	margin: auto 0;

}
 .resume1 h2, .resume1 h3, .resume1 h4{
	text-align: center!important;
	color: rgba(250,250,250,0.8);
	text-decoration: none;
}
.resume1 h3{
	transform: scale(1);
	transition: 0.2s ease;
}
.resume1 h3:hover{
	transform: scale(1.25);
	transition: 0.5s ease;
	color: #F5B62A;
}

.resume1 img{
	margin: 4em auto!important;
	/* height: 50em!important; */
	width: 100%;
}
.resume1{
	/* background-color: rgba(250,250,250,0.5); */
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-right: 0;
	margin-left: auto;
	/* border: 1px solid red; */
}
.resume1 h3{
	font-family: "crimson text";
	margin-bottom: 0;
}
.resume2{
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	width: 50%;
	padding-right: 10em
	/* margin-right: 0; */
}

.links3{
	/* padding-left: 10em; */
	width: 50%;
	display: flex;
	/* border: 1px solid red; */ */

}
.links2 {
	/* border: 1px solid red; */ */
	display: flex;
	/* justify-content: center; */
	text-align: center;
	flex-direction: column;
	width: 60%;
	margin-left: 10em;
	margin-right: 10em;
	/* background-color: rgba(250,250,250,0.5); */
}
.links2 h2{
	text-align: center;
	margin-bottom: 0;
	width: auto;
	font-size: 3.5em;
}
.links2 h3{
	margin: 0 auto 0.5em;
	font-size: 2.5em;
	/* color: rgba(250,250,250,0); */
	text-align: center;
	width: auto;
}
.row{
	/* border: 1px solid red; */
	margin-left: 1.5rem;
	display: flex;
}
a:hover{
	text-decoration: none!important;
}




.spacer_contact{
	width: 100%;
	background-color: rgba(65,117,5, 0.5);
	height: 3.5rem;
}
object{
	width: 100%;
	height: 100%;
}
object:hover{
	transform: scale(2);
	transition: 0.2s;
}
.banner_contact img{
	transform: scale(1);
	transition:0.2s;
}
.banner_contact img:hover{
	transform: scale(1.5);
	transition: all 0.2s ease-in-out;
}
.banner_contact{
	padding: 0;
}


/*body styles*/
.banner{
	width: 100%;
}

.second h2, .third h2, .fourth h2{
	padding: 0;
	font-size: 2rem;
	text-align: center;
	font-family: "windsor";
}

/* carousel stuff */
span{
	position:relative;
}


/*horizontal scroll */
.container_2{
	display: flex;
	flex-direction: column;
	/* justify-content: flex-end; */ */
	align-content: stretch; */
  /* position: fixed; */
  /* top: -30px; // Hide the horizontal scrollbar. */
  left: 0;
  width: 50rem!important;
  /* height: calc(50vh); */
	height: 100vw;
	/* margin: 0!important; */
  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
	bottom: 20%;


}

.container_3{
	width: 59em ;
	height: 100vw;
	transform: rotate(-90deg);
	/* transform-origin: center calc(50vh); */
	background-color: green;
	/* margin-top: 50em; */
	margin-left: 45em;
	top: -43em;
	position: relative;
}

.container_2 {
	/* background-color: rgba(250,250,250,0.5); */
  /* position: fixed; */
  /* top: -30px; // Hide the horizontal scrollbar. */
  left: 0;
  /* width: 59em; */
  height: calc(100vw);

  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1em auto;
  /* padding: 2em; */
  width: 66em;
  height: 65em;

  transform: rotate(90deg);
	background-color: rgba(250,250,250,0.8);

  /* border: 1px solid #333; */
  /* box-shadow: 3px 3px 6px rgba(#333, .3); */

  text-align: center;

}
.stepcontainer{
	width: 100%;
	height: 59em;
	background-color: rgba(250,250,250,0.5);

}
p{
    line-height: 1.5;
  }

.content-wrapper{
	height: 75%;
}
.child{
	text-align: left;
}
.child h2{
	justify-content:
}
.slide_1{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

}
.slide_1 h2{
	text-align: right;
	font-size: 4rem;

}
.slide_1 p{
	font-family: "Crimson Text";
	font-size: 1.4rem;
	width: 75%;
	margin: 0;
	padding: 0;

}
.slide_2{
	text-align: left;
}
.spacing{
	margin: 2em;
	width: 4
}

.slide_2 h3{
	font-size:2rem;
	margin-bottom: 0!important;

}
.slide_2 p{
	font-family: "Crimson Text";
	font-size: 1.4rem;
	width: 75%;
	margin: 0;
	padding: 0;
}

.slide_3 p{
	font-family: "Crimson Text";
	font-size: 1.2rem;
	width: 78%;
	float: left;
	padding: 0;
	margin: 0!important;

}
.slide_3 h3{
	margin-bottom: 0!important;
	margin-top: 1rem!important;
}

.wild_child{
	margin: 0;
	padding: 0;
	position: relative;
	width: 50%;
	text-align: left;
	/* display: inline-block; */
}
.rose img{
	height: 20rem;
	padding: 0;
	margin-bottom:1rem;
	position: relative;

	transform: scale(1);
	transition: 0.2s ease;

}
.rose h3{
	margin-bottom: 1rem!important;
}
.rose img:hover{
	transform: scale(1.5) translateY(10%);
	transition: 0.2s ease;
	/* transform: translateY(10%); */
}
.rose_2 img{
	height: 34rem;
	padding: 0;
	margin-top: 1em!important;
	position: relative;
	transform: scale(1);
	transition: 0.2s ease;
}

.rose_2 img:hover{
	transform: scale(1.2) ;
	transition: 0.2s ease;
}
.rose_2 h3{
	margin-top: 0!important;
}
.infog img{
	margin-top: 1rem!important;
	height: 10rem;
	transform: scale(1);
	transition: 0.2s ease;
}
.infog img:hover{
	transform: scale(1.4) translateY(-20%);
	transition: 0.2s ease;
}
.bubble_nest img{
	height: 30rem!important;
	width: auto;
	transform: scale(1);
	transition: 0.2s ease;
	/* margin-bottom: 10rem; */
	position: relative;
}
.bubble_nest img:hover{
	transform: scale(1.25);
	transition: 0.2s ease;
 }
.bubble_nest_2 img{
	height: 20rem;
	transform: scale(1);
	transition: 0.2s ease;
	margin-top: 2em!important;
}
.bubble_nest_2 img:hover{
	transform: scale(1.3);
	transition: 0.2s ease;
}
.bubble_nest_2 h3{

}
.bubble_nest_2 h4{
	color: black;
	width: 100%;
	font-size: 1.4rem;
	text-align: center;
	margin-top: 1em;
}

.supp img{
	height: 9rem;
	margin: 0.5em 2em!important;
	transform: scale(1);
	transition: 0.2s ease;
}
.supp img:hover{
	transform: scale(1.5);
	transition: 0.2s ease;
}
.supp{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0!important;
	padding-top: 0!important;
}
.radial img{
	height: 25rem;
	transform: scale(1);
	transition: 0.2s ease;
}
.radial img:hover{
	transform: scale(1.4);
	transition: 0.2s ease;
}

.history img{
	height: 400px;
	width: auto;
	display: block;
}
.wilder_child{
	/* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	background-color: rgba(255, 255, 255, 0.85);
  /* margin-top: 1em; */
	/* margin-bottom: 10em; */
  /* padding-top: 2.5em; */
  width: 66em;
	height: 65em;
	margin-left: 0;
	text-align: left;
	transform: rotate(90deg);

}
.synopsis{
	/* display: inline-flex; */
	width: 100%;
	margin: 0!important;
	/* height: 80%; */
}
.fun img{
	height: 300px;
	margin: 0;
}
.lnr{
  display: inline-block;
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.05em;
	margin-top: .45rem;
}
.caption{
	position: absolute;
	color: white;
	opacity:
}

.art_image{
	position: relative;
	text-align: center;
	color: white;
	opacity: (0.6);
	display: block;
}
.art_image:hover{
	display: none;
	transition: 0.2s ease;
}
.gallerylg img{
	width: auto;
	height: 65%;


}
.gallerylg h4{
	color: black;
}
.gallerylg p{
	color: black;
	font-family: "Crimson text";
	font-size: 2em;

}
.gallery, .gallerylg{
	overflow: hidden;
	padding: 0 2em;
}
.gallery img{
	width: auto;
	height: 75%;
}
.gallery img:hover .overlay{
	display: block;

}
.overlay{

}
.gallery h4{
	color: black;
	margin-bottom: 0!important;
}
.gallery p{
	color: black;
	font-family: "Crimson text";
	font-size: 2em;

}
.gallery_stack img{
	height: 40%;
	width: auto;

}
.row_2{
	width: 100%;
	display: flex;
	padding-top: 4rem!important;
	/* background-color: rgba(250,250,250,0.5); */

}
.row_2 h2{
	color: #F5B62A;
}

.boxes{
	margin-bottom: 4em;

}
.boxes h3{
	transform: scale(1);
	transition: 0.2s ease;
}
.boxes h3:hover{
	transform: scale(1.25);
	transition: 0.5s ease;
	color: #F5B62A;
}

/* .hovertitle{
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.5);
	text-align: center;
}
.hovertitle h4, p{
	margin: 0 auto;
}
.hovertitle:hover{
display: none;
transition: 0.2s ease;
} */


.lnr-chevron-down-circle {
  color: #FFFFFF;
  /* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 40px;
  /* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}

.chevron{
	position: relative;
	margin: 0 auto;
}
